.cards {
	display: flex;
	gap: 10px;
}

.cardsParent {
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.cards {
		flex-direction: column;
	}
}

@media screen and (max-width: 800px) {
	.cards {
		width: 100%;
	}
}
